{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.891"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        keechma/entitydb {:mvn/version "2.0.6"}
        Cukac/keechma.next.helix {:git/url "https://github.com/Cukac/keechma.next.helix"
                                  :sha "46474fdc96579eb49b46966106e41b0bbaf2d994"}}}
