{:paths ["src" "test"]
 :deps {keechma/entitydb {:mvn/version "2.0.6"}
        Cukac/keechma.next.helix {:git/url "https://github.com/Cukac/keechma.next.helix"
                                  :sha "46474fdc96579eb49b46966106e41b0bbaf2d994"}}}
