{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}
        org.clojure/core.async {:mvn/version "0.7.559"}
        lilactown/helix {:mvn/version "0.0.14"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.0"}
        keechma/next {:mvn/version "0.1.3"}
        keechma/entitydb {:mvn/version "2.0.6"}
        Cukac/keechma.next.helix {:git/url "https://github.com/Cukac/keechma.next.helix"
                                  :sha "f70e6f074a049c02f13a47355d0f861014d7afc8"}}}
